$lightgrey: #ddd;
$background-dark: #805ac2;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn: 0px, $pad-left-right: 0px) {
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}

.modal {
  .modal-header {
    background-color: $background-dark;
    color: floralwhite;
  }

  .close {
    color: floralwhite;
  }

  .modal-body {
    background-color: $background-pale;
  }
}

.row-header {
  @include zero-margin(0px, auto);
}

.row-content {
  @include zero-margin(50px);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background-color: $background-light;
  color: floralwhite;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #f0f0f0;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: $background-dark;
}

.tab-content {
  border: 1px solid $lightgrey;
  border-top: none;
  padding: 20px;
}

.carousel {
  background-color: $background-dark;
  .carousel-item {
    height: $carousel-item-height;

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
      margin: 0 auto;
      object-fit: cover;
    }
    .carousel-caption {
      position: absolute;
      top: 50%;
      transform: translate(-80px, -50%);
      right: 0;
    }
  }
  [data-slide="prev"],
  [data-slide="next"] {
    max-width: 100px;
  }
}

.footer {
  color: rgb(224, 224, 224);
  margin: auto;
  padding: 20px 0px 20px 0px;
}

#carouselButton {
  position: absolute;
  bottom: 0;
  right: 0;
}
