.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  color: rgb(224, 224, 224);
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #f0f0f0;
}

a {
  color: lightcoral;
}

a:hover {
  color: #9575cd;
  text-decoration: none;
}

ion-icon {
  font-size: 1.4rem;
  margin: 5px 10px;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background: #805ac2;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-link > span {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
}

.carousel {
  background: #805ac2;
}

.carousel-item {
  height: 300px;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  margin: 0 auto;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translate(-80px, -50%);
  right: 0;
}

[data-slide="prev"],
[data-slide="next"] {
  max-width: 100px;
}
